@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

.footer_text {
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial;
	text-align: center;
	
}
td a:link,
td a:visited{
	color: #FFFFFF;
	text-decoration:none;
}