@charset "UTF-8";

.agree {
	width: auto; 
	height: 80px;
	border: 1px solid #000;
	overflow-y: scroll;
	
	display: table-cell;
	vertical-align: middle;
}

.ok_btn {
	width: 30px;
	/*align-content: center;*/
	margin-left: 330px;
	cursor: pointer;
}